<div class="container" id="home-container">
  <div class="jumbotron jumbotron-fluid text-center text-white" id="jumbo" >
    <div class="container">
      <h1 class="display-4">AlphaBlog</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      <br> 
      <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>
