@import "bootstrap/dist/css/bootstrap";

.nav-link {
  color: white !important;
}

#home-container {
  margin-top: 25px;
}

#jumbo{
  background-image: asset-url("Jumbo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 425px;
}

html,
body {
  height: 100%;
}

#page-content {
 flex: 1 0 auto;
}

#stiky-footer{
  flex-shrink: none;
}
/* Other Classes for Page Styling */
